

<!-- <app-child [fromparent]="inputvariable"> </app-child>

<app-child [myinputfromparent]="parentvariable" (myoutputfromchild)="getdata($event)"></app-child> 

<app-child [demo2]="demochild2" (demooutputchild2)="getdata($event)" ></app-child>

<app-child [demo]="demotochild" ></app-child> -->

<!-- <app-child (demooutput3)="getdata3($event)" ></app-child> -->

<!-- <app-child [demooutptochild]="demotochild3"> </app-child>

<app-parent [parent]="fromappparent" (myoutput)="getdata4($event)"></app-parent>

<app-parent [parent]="fromappparent" (myoutputpart2)="getdatafromchild($event)" ></app-parent>
<app-parent [parent2]="fromappparent2" ></app-parent>

<app-parent [parent3]="tochild" (myoutputpart2)="getdatafromchild($event)" ></app-parent>  -->
<!-- <app-parent (myoutputpart2)="getdatafromchild($event)"></app-parent> -->
<app-formcontrol></app-formcontrol>